<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Matrix</title>
    <%= stylesheet_link_tag('matrix') %>

</head>
<body>
    <h3 class="M_mat">Memory Matrix</h3>

    <div class="maincontainer">
        
    </div>
    <br>
    <button class="start">Start</button>
    <%= javascript_include_tag('matrix.js') %>

</body>
</html>
