<head>
    <%= stylesheet_link_tag('index')%>
</head>
<div class="wrapper">
    <h2 class="selection_heading">Memory Game</h2>
    <div class="sel_container">
        <button class="b1">
            <a href="/classic" style="color: white; text-decoration: none;">Classic Image</a>
        </button>
        <button class="b2">
            <a href="/number" style="color: white; text-decoration: none;">Number</a>
        </button>
        <button class="b3">
            <a href="/alpha" style="color: white; text-decoration: none;">Alphabtes</a>
        </button>
    </div>
</div>
