*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
    background-color: #f4c531;
}

.container{
    box-sizing: border-box;
    width: 26.87em;
    padding: 2.5em 3em;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}

.grid-container{
    display: grid;
    width: 100%;
    position: relative;
    gap:0.6em;
}