<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simon Says</title>
      <%= stylesheet_link_tag('simon')%>

</head>
<body>
    <span class="info" id="max-score">Max Score:0</span>
    <span class="info" id="score">Score:0</span>
    <br>
    <h3 class="Simon">Simon Says</h3>
    <div class="maincontainer">
        <button onclick="sound1.play()" class="btn-smn"></button>
        <button onclick="sound2.play()" class="btn-smn"></button>
        <button onclick="sound3.play()" class="btn-smn"></button>
        <button onclick="sound4.play()" class="btn-smn"></button>
        <button onclick="sound5.play()" class="btn-smn"></button>
        <button onclick="sound6.play()" class="btn-smn"></button>
        <button onclick="sound7.play()" class="btn-smn"></button>
        <button onclick="sound8.play()" class="btn-smn"></button>
        <button onclick="sound9.play()" class="btn-smn"></button>
        <button class="Start_btn">Start</button>
        <button class="reset_btn">Reset</button>
    </div>
     <%= javascript_include_tag('simon.js') %>
</body>
</html>