<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Matrix</title>
<<<<<<<< HEAD:ruby final/app/views/matrix/matrix.html.erb
    <%= stylesheet_link_tag('matrix') %>

========
    <link rel="stylesheet" href="matrix.css">
>>>>>>>> 3a4fd04bbe72e45a8891d1800c358d45f3765cef:prototypes/Memory Matrix/matrix.html
</head>
<body>
    <h3 class="M_mat">Memory Matrix</h3>

    <div class="maincontainer">
        
    </div>
    <br>
    <button class="start">Start</button>
<<<<<<<< HEAD:ruby final/app/views/matrix/matrix.html.erb
    <%= javascript_include_tag('matrix.js') %>

========
    <script src="matrix.js"></script>
>>>>>>>> 3a4fd04bbe72e45a8891d1800c358d45f3765cef:prototypes/Memory Matrix/matrix.html
</body>
</html>
