<div style="text-align: center;">
    <h2 style="color: #ff4136; margin-left: 50px;">Memory Game</h2>
    <br>
    <button style="background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;">
        <a href="/simon" style="color: white; text-decoration: none;">Simon</a>
    </button>
    <br>
    <button style="background-color: #008CBA; /* Blue */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;">
        <a href="/matrix" style="color: white; text-decoration: none;">Memory Matrix</a>
    </button>
    <br>
     <button style="background-color: #ff3086; /* Blue */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;">
        <a href="/card" style="color: white; text-decoration: none;">Memory Card</a>
    </button>
</div>
