<head>
    <%= stylesheet_link_tag('index')%>
</head>
<div class="wrapper">
    <h2 class="selection_heading">Memory Game</h2>
    <div class="sel_container">
        <button class="b1">
            <a href="/simon" style="color: white; text-decoration: none;">Sound Memory</a>
        </button>
        <button class="b2">
            <a href="/matrix" style="color: white; text-decoration: none;">Memory Matrix</a>
        </button>
        <button class="b3">
            <a href="/card" style="color: white; text-decoration: none;">Memory Card</a>
        </button>
    </div>
</div>
