.container{
    display: grid;
    grid-template-columns: repeat(var(--no),100px);
    grid-template-rows: repeat(var(--no),100px);
    justify-content: center;
<<<<<<< HEAD
}
body{
    background-color: #f4c531;
    overflow: hidden;
}
.container .board{
    border-radius: 5px;
    margin: 1.5px;
    background-color:#ffffff;
=======

}

.container .board{
    border-radius: 5px;
    margin: 1.5px;
    background-color: cornflowerblue;
>>>>>>> 3a4fd04bbe72e45a8891d1800c358d45f3765cef
    border: 2px solid black;
    cursor: pointer;
}

.container button[ilum],.container button:active{
<<<<<<< HEAD
    background-color:greenyellow;
}

.container button[wrng]{
    background-color: red;
}
h3{
    font-size:40px;
    color: #ffffff;
    position: relative;
    left: 36rem;
    justify-content: center;
}

.start{
    height: 50px;
    width:100px;
    position: relative;
    left: 41rem;
    border-radius: 25px;

}
=======
    background-color:lightgreen;
}



>>>>>>> 3a4fd04bbe72e45a8891d1800c358d45f3765cef
