.container{
    display: grid;
    grid-template-columns: repeat(var(--no),100px);
    grid-template-rows: repeat(var(--no),100px);
    justify-content: center;
}

.container .board{
    border-radius: 5px;
    margin: 1.5px;
    background-color: cornflowerblue;
    border: 2px solid black;
    cursor: pointer;
}

.container button[ilum],.container button:active{
    background-color:lightgreen;
}

.container button[wrng]{
    background-color: red;
}

