.container{
    display: grid;
<<<<<<< HEAD
    grid-template-columns: repeat(var(--i),100px);
    grid-template-rows: repeat(var(--i),100px);
=======
    grid-template-columns:repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    justify-content: center;
>>>>>>> d045a535f4020d0f20c41a36b00c0fb5f2b124ee
}

.container .board{
    border-radius: 5px;
    margin: 1.5px;
    background-color: cornflowerblue;
    border: 2px solid black;
    cursor: pointer;
}

.container button[ilum],.container button:active{
    background-color:lightgreen;
}



