<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simon Says</title>
    <%# <link rel="stylesheet" href="simon.css"> %>
    <%= stylesheet_link_tag('simon')%>
</head>
<body>
   
    <span class="info" id="max-score">Max Score:0</span>
    <span class="info" id="score">Score:0</span>
    <br>
    <br>
    <h3 class="Simon">Simon Says</h3>
    <div class="container">
        <button class="btn-smn"></button>
        <button class="btn-smn"></button>
        <button class="btn-smn"></button>
        <button class="btn-smn"></button>
        <button class="btn-smn"></button>
        <button class="btn-smn"></button>
        <button class="btn-smn"></button>
        <button class="btn-smn"></button>
        <button class="btn-smn"></button>
        <button class="Start_btn">Start</button>
        <button class="reset_btn">Reset</button>
    </div>
    <%# <script src="simon.js"></script> %>
    <%= javascript_include_tag('simon.js') %>
</body>
</html>