body{background-color: #101010;}
.container{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px) ;
    grid-column-gap: 0.5em;
    grid-row-gap:0.5em;
    position: relative;
    justify-content: center;
}
.Simon{
    font-size:2em;
    text-align: center;
    color:#f0f0f0;
    font-family:'Courier New', Courier, monospace;
}
.box{
    border-radius: 25%;
    padding: 10px;
    border-style: none;
}
.b1{background-color:#ff4136;}
.b2{background-color: #2ecc40;}
.b3{background-color: #0074d9;}
.b4{background-color:#ffdc00;}
.b5{background-color:#7fdbff;}
.b6{background-color:#f012be}
.b7{background-color:#ff815b;}
.b8{background-color:#b10cd9;}
.b9{background-color:#ff69b4;}

.Start_btn{
    height: 50px;
    width: 100px;
    background-color:#f0f0f0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    border-color: #f0f0f0;
    border-radius: 25px;
    position: relative;
    top: 10px;
    margin-left:6.8rem;
}