body {
    background: linear-gradient(to right,orange,#f4c531,#f4e100);
    font-family: 'Poppins', sans-serif;
}
#form {
    width: 300px;
    margin-top:4%;
    margin-left: 37%;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form a{
    margin-top: 15%;
    color: black;
    margin-left: 15%;
    text-align: center;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 95%;  /* changed from 100% to 95% to avoid overlap */
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}